In [45]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os
import nltk
import sklearn
import re
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from collections import Counter
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [25]:
data = pd.read_csv("/content/Raw_Skills_Dataset.csv")

In [26]:
data.head()

          RAW DATA
0         What ifs
1        seniority
2      familiarity
3  functionalities
4          Lambdas

In [27]:
data2 = pd.read_csv("/content/Example_Technical_Skills.csv")

In [28]:
data2.head()

                       Technology Skills
0                    SAP Fiori Developer
1  Oracle Instance Management & Strategy
2           Boomi Master Data Management
3  Digital Manufacturing on Cloud ( DMC)
4                                 DevOps

In [29]:
data.isnull().sum()

RAW DATA    0
dtype: int64

In [35]:
stop_words = set(stopwords.words('english'))
def clean_Data(check):
    check = re.sub(r'http\S+', '', check)
    check = re.sub('[^a-zA-Z]',' ',check)
    check = word_tokenize(check)
    check = [item for item in check if item not in stop_words]
    #check = re.findall('[A-Z][^A-Z]*',check)
    check = ' '.join(check)
    return check

In [37]:
data['CleanData'] = data['RAW DATA'].apply(clean_Data)
data.head()

          RAW DATA        CleanData
0         What ifs         What ifs
1        seniority        seniority
2      familiarity      familiarity
3  functionalities  functionalities
4          Lambdas          Lambdas

In [41]:
data_check = data['CleanData']
data_check.head()

0           What ifs
1          seniority
2        familiarity
3    functionalities
4            Lambdas
Name: CleanData, dtype: object

In [42]:
len(data_check)

34116

In [48]:
count_data= Counter(data_check)

In [51]:
f = pd.DataFrame(count_data.items()).rename(columns={0:'word',1:'count'})
df = f.where(f['count'] >= 1)
df

                                           word  count
0                                      What ifs      1
1                                     seniority      1
2                                   familiarity     20
3                               functionalities      3
4                                       Lambdas      1
...                                         ...    ...
14790                           telecom product      1
14791                      Leadership qualities      1
14792                                  Actalent      1
14793  Self motivated enthusiastic strong drive      2
14794                               negotiation      2

[14795 rows x 2 columns]

In [59]:
def is_capital(data):
    count = 0
    hskills = []
    for kills in data:
        count = 0
        for word in kills.split():
            if word[0].islower():
                count+=1
        if (count>0):
            hskills.append(0)
        else:
            hskills.append(1)
    return hskills

In [60]:
req = is_capital(data["RAW DATA"])

In [68]:
req_skill = data
req_skill["Flag"] = req
req_skill

,RAW DATA,CleanData,Flag
0,What ifs,What ifs,0
1,seniority,seniority,0
2,familiarity,familiarity,0
3,functionalities,functionalities,0
4,Lambdas,Lambdas,1
...,...,...,...
34111,negotiation,negotiation,0
34112,deadlines,deadlines,0
34113,"Self-motivated, enthusiastic and strong drive",Self motivated enthusiastic strong drive,0
34114,negotiation,negotiation,0
34115,deadlines,deadlines,0

In [69]:
tech_skill = req_skill[req_skill["Flag"]==1]["CleanData"]
tech_skill

4                             Lambdas
5                        Java Streams
7                Relational Databases
8                                 SQL
9                                 ORM
                     ...
34097    Agile Continuous Integration
34098                            CMIS
34100                            CMIS
34104                            CMIS
34108                        Actalent
Name: CleanData, Length: 12990, dtype: object